body {
    text-align: center;
    font-family: 'Courgette', cursive;
}
.imageContainer {
    display: flex;
    justify-content: center;
}

#main {
    top: 10%;
}
.gameLinks {
    text-align: center;
}

.socials {
    text-align: center;
    list-style: none
}

h3 {
    text-align: center;
}

#image {
    border: 1em solid rgb(219, 255, 135);
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-radius: 25%;
}