#game {
    position: relative;
    border-style:solid;
    /* width: 100%;
    height: 100%; */
    top: 20%;
    left: 25%;
}
#status {
    position: relative;
    margin: 10px;
    text-align: center;
    margin-top: 10%
}

#start {
    position: absolute;
    left: 48%;
    top: 90%
}

#score {
    position: absolute;
    left: 47%;
    top: 10%
}
#timer {
    position: absolute;
    /* top: 10%; */
    left: 47%;
}
body {
    background-color: aqua;
    background-image: url('https://wallpaperaccess.com/full/2513419.jpg');
    background-size: 100%;
}
